@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

/*STORYBOARDS*/

.story-board {
  position: relative;
  width: 30%;
  float: left;
  margin-left: 2%;
  margin-top: 50px;
}

.story-board .card-title {
  background:rgba(255,255,255,0.9);
  padding:10px 16px 16px 16px !important;
  height: 50px !important;
}

.story-board .card-title span {
  font-size:1.1em !important;
  line-height: 1.4 !important;
}

.story-board .card-header {
  z-index: 1;
  height:60px !important;
  width:100%;
  background:rgba(250,250,250,0.9);
  border-top: 1px solid #eee;
  padding:12px !important;
}
.story-board .card-header img {
  width:25px !important;
  height:25px !important;
  vertical-align: middle !important;
  margin-right: 12px !important;

}
.story-board .card-header span {
  vertical-align: middle !important;
}

.story-board .feature {
  position: relative;
  width:100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.story-board .image-overlay > div:nth-of-type(2) > div > div {
  height:30px;
  padding:5px 8px !important;
  background:rgba(120,120,120,0.9)!important;
}
.story-board .image-overlay > div:nth-of-type(2) > div > div > div {
  padding:0 !important;
}

.story-board .image-overlay > div:nth-of-type(2) > div > div > div span {
  font-size:0.6em !important;
  line-height: 1.4 !important;
}

.feature-cont {
  overflow-y: hidden;
  height: 220px;
}

/*NAVIGATION BAR*/

.nav-bar {
  overflow-y:hidden;
}

/*BREAKPOINTS: 850PX */

@media (max-width: 479px) {
  .story-board {
    width: 97%;
  }
}

@media (max-width: 850px) and (min-width: 480px) {
  .story-board {
    width: 47%;
  }
}